body {
    display: grid;
    place-items: center;
    font-family: -apple-system, 'Segoe-UI', Roboto, sans-serif;
    background-color: #f9f9f9;
    padding: 20px;
}

table {
  table-layout: fixed;
  width: 650px;
  border-collapse: collapse;
  border-radius: 4px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  margin-top: 0px;
  margin-bottom: 10px;
  
}

th {
    text-align: left;
    padding: 10px 14px;
    color: #444;
    font-size: 14px;
    font-weight: 500;
    background-color: #f5f5f5;
    border-bottom: 1px solid #eee;
    
}

td {
    text-align: left;
    padding: 10px 14px;
    font-size: 14px;
    border-bottom: 1px solid #eee;
}

.login-container {
    background-color: #fff;
    width: 300px;
    border-radius: 4px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.login-container h2 {
    color: #1a1a1a;
    padding: 10px;
}

.login-form label {
    color: #444;
    font-size: 14px;
    font-weight: 500;
    padding: 10px;
}

.login-form input {
    display: block;
    position: relative;
    width: 90%;
    padding: 10px 14px;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
    color: #111;
    font-size: 14px;
    box-sizing: border-box;
    
}

.login-buttons {
    width: auto;
    margin-left: 10px;
    padding-bottom: 16px;
}

.pages {
    font-size: 14px;
    font-weight: 500;
    margin-left: 5px;
    margin-bottom: 20px;
}

.meals-of-the-day-header{
    display: flex;
    align-items: center;
}

.instructions {
    font-size: 14px;
    margin-left: 5px;
}

.new-entry {
    width: 400px
}

.targets-changes-table {
    width: 400px;
    columns: 2;
}

.add-meal-button {
    align-items: center;
    justify-content: space-between;
    margin-left: 20px;
}

.dashboard-header {
    display: flex;
    align-items: center;
}


.dashboard-targets {
    display: flex;
    align-items: center;
}

.edit-targets-button {
    margin-left: 20px;
}

.submit-edits-button {
    column-span: all;
    text-align: right;
}

.logout-button {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 5px;
}

.warning-text {
    margin: auto;
    width: 600px;
    border: solid;
    border-radius: 4px;
    border-color: #EF4444;
    padding: 5px 10px;
    background-color: #FEF2F2;
    font-weight: bold;
    margin-bottom: 10px;
}

.recommended-text {
    margin: auto;
    width: 600px;
    border: solid;
    border-radius: 4px;
    border-color: #10B981;
    padding: 5px 10px;
    margin-bottom: 20px;
}

.meals-table {
    width: 250px;
    margin-top: 5px;
    text-align: center;
}

.add-new-meal-button {
    display: block;
    margin: 0 auto;
    font-size: 14px;
    text-decoration: none;
}

.back-to-dashboard-button {
    margin-top: 5px;
}