# Git and Docker config
.git
.gitignore
.dockerignore
Dockerfile
compose.yaml

# macOS system files
.DS_Store

# IDE settings
.vscode/

# Docker files
db-data/

# Python artifacts
.venv/
venv/
__pycache__/
*.py[cod]
*$py.class
*.pyc
*.pyo
*.pyd
dist/
build/


# Testing
.pytest_cache/
.coverage

# Environment variables and secrets
.env
db/password.txt

# Documentation
README.md
LICENSE.md