{% extends 'layout.html' %}

{% block content %}
    <form action="{{ url_for('add_nutrition_entry', username=username, date=date) }}" method="post">
        <table class="new-entry">
            <tr>
                <td>
                    <label for="entry_date">
                        Date
                    </label>
                </td>
                <td><input type="date" id="date" name="entry_date" value="{{ date }}" max="{{ today }}" required/>
                </td>
            </tr>
            <tr>
                <td>
                    <label for="calories">
                        Calories
                    </label>
                </td>
                <td><input type="number" name="calories" value="{{ input_nutrition.calories | default('') }}" required/>
                </td>
            </tr>
            <tr>
                <td>
                    <label for="protein">
                        Protein
                    </label>
                </td>
                <td><input type="number" name="protein" value="{{ input_nutrition.protein | default('') }}" required/>
                </td>
            </tr>
            <tr>
                <td>
                    <label for="fat">
                        Fat
                    </label>
                </td>
                <td><input type="number" name="fat" value="{{ input_nutrition.fat | default('') }}" required/>
                </td>
            </tr>
                    <tr>
                <td>
                    <label for="carbs">
                        Carbohydrates
                    </label>
                </td>
                <td><input type="number" name="carbs" value="{{ input_nutrition.carbs | default('') }}" required/>
                </td>
            </tr>
            <tr>
                <td>
                    <label for="meal">
                        Meal or snack
                    </label>
                </td>
                <td>
                    <input type="text" name="meal" value="{{ input_nutrition.meal | default('') }}" maxlength="100" />
                </td>
            </tr>
            <tr>
                <td class="submit-edits-button">
                    <button type="submit">Submit</button>
                </td>
            </tr>
        </table>
    </form>
    <p></p>
    <a href="{{ url_for('user_overview', username=username) }}">
        <button type="button" class="back-to-dashboard-button">Back to Dashboard</button>
    </a>
{% endblock %}
