{% extends 'layout.html' %}

{% block content %}
    <h3>Editing meal "{{ meal_data.name }}":</h3>
    <form action="{{ url_for('update_meal', username=username, meal_id=meal_data.id) }}" method="post">
        <table class="new-entry">
            <tr>
                <td>
                    <label for="meal">
                        Name:
                    </label>
                </td>
                <td><input type="text" name="meal" value="{{ meal_data.name }}" />
                </td>
            </tr>
            <tr>
                <td class="submit-edits-button">
                    <button type="submit">Submit</button>
            </tr>
        </table>
    </form>
    <form action="{{ url_for('delete_meal', username=username, meal_id=meal_data.id) }}" method="post">
        <button type="submit" class="delete">Delete "{{ meal_data.name }}"</button>
    </form>
    <p></p>
    <a href="{{ url_for('user_overview', username=username) }}">
        <button type="button" class="back-to-dashboard-button">Back to Dashboard</button>
    </a>
{% endblock %}
