{% extends 'layout.html' %}

{% block content %}
    <h3>Updating targets for {{ username }}:</h3>
    <form action="{{ url_for('update_targets', username=username) }}" method="post">
        <table class="targets-changes-table">
            <tr>
                <td>
                    <label for="calories">
                        Calories
                     </label>
                </td>
                <td><input type="number" name="calories" value="{{ user_targets.calorie_target}}" required/>
                </td>
            </tr>
            <tr>
                <td>
                    <label for="protein">
                        Protein
                    </label>
                </td>
                <td><input type="number" name="protein" value="{{ user_targets.protein_target }}" required/>
                </td>
            </tr>
            <tr>
                <td>
                    <label for="fat">
                        Fat
                    </label>
                </td>
                <td><input type="number" name="fat" value="{{ user_targets.fat_target }}" required/>
                </td>
            </tr>
            <tr>
                <td>
                    <label for="carbs">
                        Carbohydrates
                    </label>
                </td>
                <td><input type="number" name="carbs" value="{{ user_targets.carb_target }}" required/>
                </td>
            </tr>
            <tr>
                <td class="submit-edits-button">
                    <button type="submit">Submit</button>
                </td>
            </tr>
        </table>
    </form>
    <p><a href="{{ url_for('user_overview', username=username) }}"><button type="button">Back to Dashboard</button></a></p>

{% endblock %}