{% extends 'layout.html' %}

{% block content %}
    <h3>Welcome to the Calorie Tracker!</h3>

    {% if session.username %}
        <form action="{{ url_for('logout') }}" method="post">
        <div class="login-container">
            Signed in as {{ session.username }}
            <button class="logout-button" type="submit">Log Out</button>
        </div>
        </form>
    {% else %}
        <div>
        <a href="{{ url_for('dispay_login_page') }}"><button class="login-buttons" type="submit">Log In</button></a>
        </div>
    {% endif %}

{% endblock %}  