{% extends 'layout.html' %}

{% block content %}
    <div class="login-container">
        <h2>Login to Calorie Tracker</h2>
        <div>
        <form class="login-form" action="{{ url_for('process_login') }}" method="post">
        <label for="username">Username: </label>
        <input type="text" name="username" required />

        <label for="pwd">Password: </label>
        <input type="password" name="pwd" requried />
        
        <div class="login-buttons">
            <button type="submit">Login</button>
            <button type="button">Cancel</button>
        </div>
    </form>
    </div>
    </div>
{% endblock %}