{% extends 'layout.html' %}

{% block content %}
    <h3>Adding new meal option for {{ username }}</h3>
    <form action="{{ url_for('add_new_meal', username=username) }}" method="post">
        <table class="new-entry">
            <tr>
                <td>
                    <label for="meal">
                        Name for meal or snack:
                    </label>
                </td>
                <td><input type="text" name="meal" value="{{ temp_meal_name | default('') }} "/>
                </td>
            </tr>
            <tr>
                <td class="submit-edits-button">
                    <button type="submit">Submit</button>
                </td>
            </tr>
        </table>
    </form>
    <p></p>
    <a href="{{ url_for('user_overview', username=username) }}"><button type="button">Back to Dashboard</button></a>



{% endblock %}
